@import 'helpers';

:host {
  @include flex(column, $align: center, $gap: spacing(4x));
  @include transition(background-color);
  width: 100%;
  padding: spacing(6x) spacing(5x);
  border-radius: border-radius(normal);
  background-color: status-color(gray);

  &.red {
    background-color: status-color(red);
  }

  &.green {
    background-color: status-color(green);
  }
}

.stock-card {
  &__price {
    font-size: font-size(large);
  }

  &__statistics {
    @include flex(column, $align: center);
  }

  &-range {
    @include flex(column, $align: center);

    &--hidden {
      @include media(md, max) {
        display: none;
      }
    }

    &__label {
      @include typography(inherit, xsmall, bold);
    }
  }
}
