@if ($stock(); as stock) {
  <h2>{{ stock.name }}</h2>
  <span class="stock-card__price">{{ stock.price | currency }}</span>
  <div class="stock-card__statistics">
    <span>{{ stock.statistics.priceDiff }}</span>
    <span>({{ stock.statistics.percentageDiff }})</span>
  </div>
  <ng-container *ngTemplateOutlet="dateRangePricesTemplate; context: { $implicit: stock.day, title: 'Day\'s Range' }" />
  <ng-container
    *ngTemplateOutlet="
      dateRangePricesTemplate;
      context: { $implicit: stock.week52, title: '52 Week Range', desktopOnly: true }
    "
  />

  <button (click)="$toggle.emit(false)">Toggle</button>
}

<ng-template #dateRangePricesTemplate let-dateRangePrices let-title="title" let-desktopOnly="desktopOnly">
  <section [class.stock-card-range--hidden]="desktopOnly" class="stock-card-range">
    <small class="stock-card-range__label">{{ title }}</small>
    <span>{{ dateRangePrices.low }} - {{ dateRangePrices.high }}</span>
  </section>
</ng-template>
