// ============================================================
//   BREAKPOINTS - maps, functions and mixins for breakpoints
// ============================================================
$breakpoints: (
  xs: 430px,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);

// ----------------------------------------------------------------------
//   MEDIA - Mixin that enables using styling for a specific breakpoint
//   How to use:
//
//      selector {
//        @include media(xs, max) {
//          // put here stylings for the specified media breakpoint
//        }
//      }
//
// ----------------------------------------------------------------------
@mixin media($breakpoint-name, $type: min) {
  $breakpoint-pixels: map-contains($breakpoints, $breakpoint-name);

  @if $breakpoint-pixels {
    @if $type == max {
      $breakpoint-pixels: $breakpoint-pixels - 1px;
    }

    @media only screen and (#{$type}-width: $breakpoint-pixels) {
      @content;
    }
  }
}
