// ------------------------
//   ROOT - CSS variables
// ------------------------
:root {
  // Neutral
  --neutral-0: #ffffff;
  --neutral-1: #bdc3c7;
  --neutral-2: #7e8b9a;
  --neutral-3: #33485f;
  --neutral-4: #272727;

  // Status
  --status-red: #e94b35;
  --status-green: #1ece6d;
  --status-gray: #ecf0f1;

  // Font family variables
  --font-family-primary: 'Open Sans', sans-serif;
}
