@import 'helpers';

:host {
  $height: px-to-rem(30px);

  @include flex($align: center);
  @include typography(light);
  @include transition(color, background-color);
  position: relative;
  height: $height;
  width: px-to-rem(80px);
  min-width: px-to-rem(72px);
  border-radius: calc(#{$height} / 2);
  background-color: neutral-color(1);

  &.active {
    background-color: neutral-color(3);
  }
}

.switch {
  @include flex(row, center, center, 1 0 0, spacing(3x));
  @include transition(padding);
  height: 100%;
  padding-left: spacing(8x);
  padding-right: spacing(3x);
  cursor: pointer;

  &::after {
    @include absolute(spacing(1x), $left: spacing(1x));
    @include square(px-to-rem(22px));
    @include transition(left, background-color);
    content: '';
    border-radius: border-radius(circle);
    background-color: neutral-color(2);
  }

  &--active {
    padding-left: spacing(3x);
    padding-right: spacing(8x);

    &::after {
      left: calc(100% - #{px-to-rem(26px)});
      background-color: status-color(green);
    }
  }

  &__input {
    display: none;
  }

  &__text {
    text-transform: uppercase;
  }
}
